a {
  text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------
ヘッダー用のスタイル
-------------------------------------------------------------------------------------------------- */
header {
  /* background: pink; */
}

header a {
  text-decoration: none;
}

header p {
  text-align: center;
}

/* --------------------------------------------------------------------------------------------------
メインコンテンツ用のスタイル
-------------------------------------------------------------------------------------------------- */
main {
  margin-top: 160px;
  margin-bottom: 160px;
}

.container {
  /* background: rgb(50, 117, 50); */
  width: 96%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.cards {
  background: rgb(100, 202, 100);
  margin-top: 120px;
}

h2 {
  text-align: center;
}

img {
  width: 100%;
}


/* --------------------------------------------------------------------------------------------------
フッター用のスタイル
-------------------------------------------------------------------------------------------------- */
footer p {
  margin: 0;
}

.top {
  background: gray;
  font-size: 64px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.bottom {
  background: black;
  color: white;
  text-align: center;
}