a {
  text-decoration: none;
}

.indent {
  text-indent: 2rem;
}

/* --------------------------------------------------------------------------------------------------
ヘッダー用のスタイル
-------------------------------------------------------------------------------------------------- */
header {
  /* background: pink;  */
 }
 
 header a {
   text-decoration: none;
   /* color: white; */
 }
 
 header h1 {
   text-align: center;
   font-family: 'Hachi Maru Pop', cursive;
 }
 
 
 header p {
   margin: 0px,16px, 0px, 16px;
   text-align: center;
   font-family: 'Hachi Maru Pop', cursive;
 }

/* --------------------------------------------------------------------------------------------------
メインコンテンツ用のスタイル
-------------------------------------------------------------------------------------------------- */
main {
  margin-top: 160px;
  margin-bottom: 160px;
}

.container {
  /* background: rgb(50, 117, 50); */
  width: 96%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.index {
  background: rgb(209, 209, 209);
  width: 88%;
  margin: 40px auto;
  padding-top: 8px; 
  padding-bottom: 24px; 
}

h4 {
  text-align: center;
}

.cards {
  /* background: rgb(100, 202, 100); */
  margin-top: 120px;
}

h2 {
  text-align: center;
}

img {
  width: 100%;
}

.prf {
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;
}

.prf img {
  width: 48%;
  object-fit: cover;
}

/* --------------------------------------------------------------------------------------------------
フッター用のスタイル
-------------------------------------------------------------------------------------------------- */
footer p {
  margin: 0;
}

.top {
  background: gray;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

.top p {
  color: white;
}

.bottom {
  background: black;
  color: white;
  text-align: center;
}

/* ---------------------------------------------------------------------------------
↓PCビュー用のメディアクエリ↓
--------------------------------------------------------------------------------- */
@media (min-width: 720px) {
  main {
    width: 80%;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 160px;
  }

  img {
    max-height: 400px;
    margin: 0 auto;
    object-fit: contain;
  }

  .flex{
    /* background: pink; */
    display: flex;
  }

  .flex img {
    width: 48%;
    margin: 0 auto;
    object-fit: cover;
  }

  .index {
    max-width: 48%;
  }

  /* ↓フッター用のスタイル----------------------------------------------- */
  .top {
    font-size: 1.5rem;
    color: white;
    width: 16%;
    height: 40px;
    margin-bottom: 80px;
    border-radius: 4px;
  }
}