/* これは勉強用のテストCSSです
これは勉強用のテストCSSです
これは勉強用のテストCSSです
これは勉強用のテストCSSです
これは勉強用のテストCSSです */

body {
  margin: 0;
  width: 100%;
}

header {
  background: pink;
}

li {
  /* font-size: 12px; */
  margin-bottom: 16px;
}

div {
  background: rgb(100, 202, 100);
  width: 96%;
  margin: 0 auto;
  /* line-height: 12px; */
  /* padding: 24, 0, 0, 24px; */
}

h1 {
  text-align: center;
}

.cards {
  margin-top: 120px;
}

.cards p {
  /* font-size: 12px; */
}

h2 {
  text-align: center;
}

img {
  width: 100%;
}