a {
  text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------
ヘッダー用のスタイル
-------------------------------------------------------------------------------------------------- */
header {
 /* background: pink;  */
}

header a {
  text-decoration: none;
}

header h1 {
  text-align: center;
}

header p {
  margin: 0px,16px, 0px, 16px;
  text-align: center;
}

/* --------------------------------------------------------------------------------------------------
メインコンテンツ用のスタイル
-------------------------------------------------------------------------------------------------- */
main {
  /* background: lime; */
  margin-top: 80px;
}

/* ↓更新履歴のボックス------------------------------- */
.update {
  /* background: chocolate; */
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 160px;
}

.uptitle {
  text-align: center;
}

.update a {
  color: white;
}

.topic {
  background: #444444;
  height: 320px;
  margin-bottom: 80px;
  border-radius: 16px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
  
}

.topic p {
  text-align: center;
  margin: 8px 8px 8px 8px;
}

.topic img {
  background: gray;
  width: 100%;
  height: 240px;
  border-radius: 16px;
  object-fit: cover;
}

/* ↓about系のボックス------------------------------- */
section {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  border: 1px solid black;
  border-radius: 32px;
}

section h3 {
  text-align: center;
}

.text {
  margin: 0px 0px 24px 0px;
}

section p {
  margin: 0 16px 0 16px;
}

/* --------------------------------------------------------------------------------------------------
フッター用のスタイル
-------------------------------------------------------------------------------------------------- */
footer p {
  margin: 0;
}

.top {
  background: gray;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}

.top p {
  color: white;
}

.bottom {
  background: black;
  color: white;
  text-align: center;
}

.bottom p {
  padding: 16px 0px 16px 0px;
}

/* ---------------------------------------------------------------------------------
↓PCビュー用のメディアクエリ↓
--------------------------------------------------------------------------------- */
@media (min-width: 720px) {

  .update {
    display: flex;
    flex-wrap: wrap;
  }

  .topic {
    margin: 16px 16px 16px 16px;
    align-self: center;
    width: 30%;
    border-radius: 16px;
  }

  .topic img {
    border-radius: 16px;
  }

  .about {
    display: flex;
  }

  section {
    margin: 0 8px 80px 8px;
  }

  .text {
    margin: 0px 16px 24px 16px;
  }


  /* ↓フッター用のスタイル----------------------------------------------- */
  .top {
    font-size: 1.5rem;
    color: white;
    width: 16%;
    height: 40px;
    margin-bottom: 80px;
    border-radius: 4px;
  }
}