body {
  /* margin: 0; */
}

/* --------------------------------------------------------------------------------------------------
ヘッダー用のスタイル
-------------------------------------------------------------------------------------------------- */
header {
 background: pink; 
}

header h1 {
  text-align: center;
}

header p {
  margin: 0px,16px, 0px, 16px;
}

/* --------------------------------------------------------------------------------------------------
メインコンテンツ用のスタイル
-------------------------------------------------------------------------------------------------- */
main {
  background: lime;
}

/* ↓更新履歴のボックス------------------------------- */
.update {
  background: chocolate;
  width: 96%;
  margin: 0 auto;
}

.update h2 {
  text-align: center;
}

.topic {
  background: rgb(170, 170, 170);
  margin-bottom: 80px;
  border-radius: 32px;
}

.topic p {
  text-align: center;
}

.topic img {
  background: gray;
  width: 100%;
  height: 200px;
}

/* ↓about系のボックス------------------------------- */
section {
  background: skyblue;
  width: 96%;
  margin: 0 auto;
}

section h3 {
  text-align: center;
}

.icon {
  background: red;
  width: 320px;
  height: 320px;
  /* margin: 0 auto; */
}

/* --------------------------------------------------------------------------------------------------
フッター用のスタイル
-------------------------------------------------------------------------------------------------- */
footer {
  background: black;
  color: white;
}

footer p {
  text-align: center;
}